<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi, *|first_name|*</p>
    <p>
      There's a new video in *|category|*!
    </p>
    <p>
      <strong><a href="*|video_url|*">*|video_title|*</a></strong>
    <p>
    <p>Enjoy!</p>
      Best,<br/>
      Corey
    </p>
  </body>
</html>