<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi, <%= @user.first_name %></p>
    <p>
      It's my pleasure to welcome you to Puppify! <a href="http://puppify.aspiringwebdev.com/">Explore our awesome puppy videos</a>!
    </p>
    <p>
      Best,<br/>
      Corey
    </p>
  </body>
</html>